body {
    margin: 0;
}

.display {
    background-color: hsl(0, 60%, 60%);
    width: 100%;
    height: 100%;
    margin: 0;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 100ms ease-in-out;
}

.display-letter {
    color: hsl(0, 0%, 20%);
    font-size: 20vh;
    transition: content
}
